<template lang="pug">
.container
  TheSidebar
  TheHeader
  RealtorsSection
  FeaturesSection
  StorySection
  HomesSection
  GallerySection
  TheFooter
</template>

<script setup lang="ts">
import TheHeader from '@/components/TheHeader.vue'
import TheSidebar from '@/components/TheSidebar.vue'
import FeaturesSection from '@/components/FeaturesSection.vue'
import StorySection from '@/components/StorySection.vue'
import HomesSection from '@/components/HomesSection.vue'
import GallerySection from '@/components/GallerySection.vue'
import TheFooter from '@/components/TheFooter.vue'
import RealtorsSection from '@/components/RealtorsSection.vue'
</script>
