<template lang="pug">
section.features
  .feature
    svg.feature__icon
      use(xlink:href="../assets/sprite.svg#icon-global")
    h4.heading-4.heading-4--dark World's best luxury homes
    p.feature__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur distinctio necessitatibus pariatur voluptatibus.
  .feature
    svg.feature__icon
      use(xlink:href="../assets/sprite.svg#icon-trophy")
    h4.heading-4.heading-4--dark Only the best properties
    p.feature__text Voluptatum mollitia quae. Vero ipsum sapiente molestias accusamus rerum sed a eligendi aut quia.
  .feature
    svg.feature__icon
      use(xlink:href="../assets/sprite.svg#icon-map-pin")
    h4.heading-4.heading-4--dark All homes in top locations
    p.feature__text Tenetur distinctio necessitatibus pariatur voluptatibus quidem consequatur harum.
  .feature
    svg.feature__icon
      use(xlink:href="../assets/sprite.svg#icon-key")
    h4.heading-4.heading-4--dark New home in one week
    p.feature__text Vero ipsum sapiente molestias accusamus rerum. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
  .feature
    svg.feature__icon
      use(xlink:href="../assets/sprite.svg#icon-presentation")
    h4.heading-4.heading-4--dark Top 1 % realtors
    p.feature__text Quidem consequatur harum, voluptatum mollitia quae. Tenetur distinctio necessitatibus pariatur voluptatibus.
  .feature
    svg.feature__icon
      use(xlink:href="../assets/sprite.svg#icon-lock")
    h4.heading-4.heading-4--dark Secure payments on nexter
    p.feature__text Pariatur voluptatibus quidem consequatur harum, voluptatum mollitia quae.
</template>

<script setup lang="ts">
</script>

<style scoped lang="scss">
</style>
