<template lang="pug">
section.gallery
  figure.gallery__item.gallery__item--1
    img.gallery__img(src="../assets/gal-1.jpeg" alt="Gallery image 1")
  figure.gallery__item.gallery__item--2
    img.gallery__img(src="../assets/gal-2.jpeg" alt="Gallery image 2")
  figure.gallery__item.gallery__item--3
    img.gallery__img(src="../assets/gal-3.jpeg" alt="Gallery image 3")
  figure.gallery__item.gallery__item--4
    img.gallery__img(src="../assets/gal-4.jpeg" alt="Gallery image 4")
  figure.gallery__item.gallery__item--5
    img.gallery__img(src="../assets/gal-5.jpeg" alt="Gallery image 5")
  figure.gallery__item.gallery__item--6
    img.gallery__img(src="../assets/gal-6.jpeg" alt="Gallery image 6")
  figure.gallery__item.gallery__item--7
    img.gallery__img(src="../assets/gal-7.jpeg" alt="Gallery image 7")
  figure.gallery__item.gallery__item--8
    img.gallery__img(src="../assets/gal-8.jpeg" alt="Gallery image 8")
  figure.gallery__item.gallery__item--9
    img.gallery__img(src="../assets/gal-9.jpeg" alt="Gallery image 9")
  figure.gallery__item.gallery__item--10
    img.gallery__img(src="../assets/gal-10.jpeg" alt="Gallery image 10")
  figure.gallery__item.gallery__item--11
    img.gallery__img(src="../assets/gal-11.jpeg" alt="Gallery image 11")
  figure.gallery__item.gallery__item--12
    img.gallery__img(src="../assets/gal-12.jpeg" alt="Gallery image 12")
  figure.gallery__item.gallery__item--13
    img.gallery__img(src="../assets/gal-13.jpeg" alt="Gallery image 13")
  figure.gallery__item.gallery__item--14
    img.gallery__img(src="../assets/gal-14.jpeg" alt="Gallery image 14")
</template>

<script setup lang="ts">
</script>

<style scoped lang="scss">
</style>
