<template lang="pug">
.realtors
  h3.heading-3 Top 3 Realtors
  .realtors__list
    img.realtors__img(src="../assets/realtor-1.jpeg" alt="Realtor 1")
    .realtors__details
      h4.heading-4.heading-4--light Erik Feinman
      p.realtors__sold 245 houses sold
    img.realtors__img(src="../assets/realtor-2.jpeg" alt="Realtor 2")
    .realtors__details
      h4.heading-4.heading-4--light Kim Brown
      p.realtors__sold 212 houses sold
    img.realtors__img(src="../assets/realtor-3.jpeg" alt="Realtor 3")
    .realtors__details
      h4.heading-4.heading-4--light Toby Ramsey
      p.realtors__sold 198 houses sold
</template>

<script setup lang="ts">
</script>

<style scoped lang="scss">
</style>
