<template lang="pug">
.story__pictures
  img.story__img--1(src="../assets/story-1.jpeg" alt="Couple with new house")
  img.story__img--2(src="../assets/story-2.jpeg" alt="New house")
.story__content
  h3.heading-3.mb-sm Happy Customers
  h2.heading-2.heading-2--dark.mb-md &ldquo;The best decision of our lives&rdquo;
  p.story__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur distinctio necessitatibus pariatur voluptatibus. Quidem consequatur harum volupta!
  button.btn Find your own home
</template>

<script setup lang="ts">
</script>

<style scoped lang="scss">
</style>
