<template lang="pug">
footer.footer
  ul.nav
    li.nav__item
      a.nav__link(href="#") Find your dream home
    li.nav__item
      a.nav__link(href="#") Request proposal
    li.nav__item
      a.nav__link(href="#") Download home planner
    li.nav__item
      a.nav__link(href="#") Contact us
    li.nav__item
      a.nav__link(href="#") Submit your property
    li.nav__item
      a.nav__link(href="#") Come work with us!
  p.copyright &copy; Some text
</template>

<script setup lang="ts">
</script>

<style scoped lang="scss">
</style>
