<template lang="pug">
header.header
  img.header__logo(src="../assets/logo.png" alt="Logo")
  h3.heading-3 Your own home:
  h1.heading-1 The ultimate personal freedom
  button.btn.header__btn View our properties
  .header__seenon-text Seen on
  .header__seenon-logos
    img(src="../assets/logo-bbc.png" alt="Seen on logo 1")
    img(src="../assets/logo-forbes.png" alt="Seen on logo 2")
    img(src="../assets/logo-techcrunch.png" alt="Seen on logo 3")
    img(src="../assets/logo-bi.png" alt="Seen on logo 4")
</template>

<script setup lang="ts">
</script>

<style scoped lang="scss">
</style>
